<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Rick's Blog</title>
</head>

<body>
  
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      <a href="/blog" class="main-title" style="color: white">
                        <h1>Rick's Blog</h1>
                      </a>
                        <hr class="small">
                        <span class="subheading">Stuff Rick finds interesting...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>  
  
  <!-- <a href="/blog" class="main-title"> -->
    <!-- Clean Blog -->
  <!-- </a> -->

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

