{% extends "base.html" %}
{% block content %}
{{post.render() | safe}}



  {% if user.name == post.author %}
  
    <br>
    <a href="/blog/editpost/{{post.key.id()}}">edit</a>
    <a href="/blog/deleteme/{{post.key.id()}}">delete</a>

    <br>
    

    
    {% else %}
    <!-- like or unlike here = call blog and set liked or unliked then reload this page-->
    <br>
	{{ post.num_likes }}
    {% if user.name in post.likedby %}
    
        <a color="red" href="/blog/unlike_post/{{post.key.id()}}">Unlike This Post</a>
    
      {% elif user %}
    
        <a color="green" href="/blog/like_post/{{post.key.id()}}">Like This Post</a>    
        
    {% endif %}
      <p>

      

      
  {% endif %}
    
      <b>Comments:</b>

      {% if user %}
      </p>
      <form method="post">
        <textarea style="width:300px; height:150px;" name="comment">{{ comments }}</textarea>
        <input type="submit" value="Leave A Comment">
      </form>
      {% endif %}
      
      {% for x in post.comments %} <!-- returns objects -->
      <br>
      {{ x.comment }}
      {{ x.user.name }}  <!-- add links for edit/delete if belong to user -->
      <br>
      
      {% endfor %}
    
{% endblock %}
