{% extends "base.html" %}
{% block content %}
{{post.render() | safe}}



  {% if user.name == post.author %}
  
    <br>
    <a href="/blog/editpost/{{post.key.id()}}">edit</a>
    <a href="/blog/deleteme/{{post.key.id()}}">delete</a>

    <br>
    
    {% else %}
    <!-- like or unlike here = call blog and set liked or unliked then reload this page-->
    <br>

    {% if user.key in post.likedby %} <!-- ??? better way to do this -->
    
    <form action="/blog/unlike_post/{{post.key.id()}}" method="post">
    	<input type="submit" value="UNLIKE">
    </form>
    
      {% elif user %}
    
    <form action="/blog/like_post/{{post.key.id()}}" method="post">
    	<input type="submit" value="LIKE">
    </form>  
        
    {% endif %}
      <p>

      

      
  {% endif %}
	{{ post.num_likes }}  Likes
	<br>  
      <b>Comments:</b>

      {% if user %}
      </p>
      <form method="post">
        <textarea style="width:300px; height:150px;" name="comment"></textarea>
        <input type="submit" value="Leave A Comment">
      </form>
      {% endif %}
      
      {% for x in post.comments_query %} <!-- returns objects -->
      <br>
      {{ x.comment }} - USER: 
      {{ x.user.id() | filterName }}  
      
      <!-- add links for edit/delete if belong to user -->
      <br> <!-- query comment model for all comments where user is x -->
      
      {% endfor %}
    
{% endblock %}
