{% extends "base.html" %}
{% block content %}
    <h2>Signup</h2>
    <form method="post">
            Username:<br>
            <input name="username" value="{{username}}">
          <a class="error">
            {{error_username}}
          </a>
          <br>
            Password:<br>
            <input type="password" name="password" value="">
          <a class="error">
            {{error_password}}
          </a>
          <br>
            Verify Password:<br>
            <input type="password" name="verify" value="">
          <a class="error">
            {{error_verify}}
          </a>
          <br>
            Email:<br>
            <input name="email" value="{{email}}">
          <a class="error">
            {{error_email}}
          </a>
          <br>
      <input type="submit" value="SIGNUP">
    </form>
{% endblock %}
